In [2]:
# Data overview

import pandas as pd
import numpy as np
import openpyxl

# Load data
cobalt = pd.read_csv('/Users/michal/Documents/Code/metals/bloomberg_data/cobalt_ask_bid_2017_2024.csv', sep=';')
cobalt.head()

         Date   PX_ASK   PX_BID
0  27.12.2024  24300.0  23800.0
1  24.12.2024  24300.0  23800.0
2  23.12.2024  24300.0  23800.0
3  20.12.2024  24300.0  23800.0
4  19.12.2024  24300.0  23800.0

In [3]:
cobalt_hloc = pd.read_csv('/Users/michal/Documents/Code/metals/bloomberg_data/cobalt_hloc_2017_2024.csv', sep=';', header=0)
cobalt_hloc = cobalt_hloc.drop(0)
cobalt_hloc.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
1,24.12.2024,24300,0,0,53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774"
2,23.12.2024,24300,0,0,50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152"
3,20.12.2024,24300,0,0,52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049"
4,19.12.2024,24300,0,0,42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638"
5,18.12.2024,24300,0,0,44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815"

In [4]:
# Columns are PX_LAST, PX_HIGH, PX_LOW, PX_OPEN
# Based on those compute the garman-klass volatility
# Replace commas with dots and convert to float
cobalt_hloc['PX_LAST'] = cobalt_hloc['PX_LAST'].astype(str).str.replace(',', '.').astype(float)
cobalt_hloc['PX_HIGH'] = cobalt_hloc['PX_HIGH'].astype(str).str.replace(',', '.').astype(float)
cobalt_hloc['PX_LOW'] = cobalt_hloc['PX_LOW'].astype(str).str.replace(',', '.').astype(float)
cobalt_hloc['PX_OPEN'] = cobalt_hloc['PX_OPEN'].astype(str).str.replace(',', '.').astype(float)

cobalt_hloc['log_ret'] = cobalt_hloc['PX_LAST'].pct_change()
cobalt_hloc['log_ret'] = cobalt_hloc['log_ret'].fillna(0)
cobalt_hloc['log_ret'] = cobalt_hloc['log_ret'].astype(float)

cobalt_hloc['volatility'] = cobalt_hloc['log_ret'].rolling(window=252).std() * (252**0.5)
cobalt_hloc['volatility'] = cobalt_hloc['volatility'].fillna(0)
cobalt_hloc['volatility'] = cobalt_hloc['volatility'].astype(float)

cobalt_hloc.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3,log_ret,volatility
1,24.12.2024,24300.0,0,0,53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774",0.0,0.0
2,23.12.2024,24300.0,0,0,50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152",0.0,0.0
3,20.12.2024,24300.0,0,0,52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049",0.0,0.0
4,19.12.2024,24300.0,0,0,42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638",0.0,0.0
5,18.12.2024,24300.0,0,0,44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815",0.0,0.0

In [5]:
copper_hloc = pd.read_csv('/Users/michal/Documents/Code/metals/bloomberg_data/copper_hloc_2017_2024.csv', sep=';', header=0)
copper_hloc = copper_hloc.drop(0)
copper_hloc['PX_LAST'] = copper_hloc['PX_LAST'].astype(str).str.replace(',', '.').astype(float)
copper_hloc['PX_HIGH'] = copper_hloc['PX_HIGH'].astype(str).str.replace(',', '.').astype(float)
copper_hloc['PX_LOW'] = copper_hloc['PX_LOW'].astype(str).str.replace(',', '.').astype(float)
copper_hloc['PX_OPEN'] = copper_hloc['PX_OPEN'].astype(str).str.replace(',', '.').astype(float)

copper_hloc['log_ret'] = copper_hloc['PX_LAST'].pct_change()
copper_hloc['log_ret'] = copper_hloc['log_ret'].fillna(0)
copper_hloc['log_ret'] = copper_hloc['log_ret'].astype(float)

copper_hloc['volatility'] = copper_hloc['log_ret'].rolling(window=252).std() * (252**0.5)
copper_hloc['volatility'] = copper_hloc['volatility'].fillna(0)
copper_hloc['volatility'] = copper_hloc['volatility'].astype(float)

copper_hloc.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3,log_ret,volatility
1,27.12.2024,8982.0,"31,5","0,351935646053293",8999.5,49,"0,547455449416234",9018.5,68,"0,759734093067426",8947.0,"-3,5","-0,0391039606725881",0.000000,0.0
2,24.12.2024,8950.5,"38,5","0,432001795332136",8934.0,22,"0,246858168761221",8988.0,76,"0,85278276481149",8919.0,7,"0,0785457809694794",-0.003507,0.0
3,23.12.2024,8912.0,-29,"-0,324348506878425",8942.0,1,"0,0111844312716698",8994.5,"53,5","0,598367073034336",8900.0,-41,"-0,458561682138463",-0.004301,0.0
4,20.12.2024,8941.0,58,"0,652932567826185",8885.0,2,"0,0225149161319374",8953.5,"70,5","0,793650793650794",8880.5,"-2,5","-0,0281436451649218",0.003254,0.0
5,19.12.2024,8883.0,"-145,5","-1,6115633826217",8969.5,-59,"-0,65348618264385",8970.0,"-58,5","-0,647948164146868",8859.5,-169,"-1,87185025197984",-0.006487,0.0

In [6]:
nickel_hloc = pd.read_csv('/Users/michal/Documents/Code/metals/bloomberg_data/nickel_HLOC_2017_2024.csv', sep=';', header=0)
nickel_hloc = nickel_hloc.drop(0)
nickel_hloc['PX_LAST'] = nickel_hloc['PX_LAST'].astype(str).str.replace(',', '.').astype(float)
nickel_hloc['PX_HIGH'] = nickel_hloc['PX_HIGH'].astype(str).str.replace(',', '.').astype(float)
nickel_hloc['PX_LOW'] = nickel_hloc['PX_LOW'].astype(str).str.replace(',', '.').astype(float)
nickel_hloc['PX_OPEN'] = nickel_hloc['PX_OPEN'].astype(str).str.replace(',', '.').astype(float)
nickel_hloc['log_ret'] = nickel_hloc['PX_LAST'].pct_change()
nickel_hloc['log_ret'] = nickel_hloc['log_ret'].fillna(0)
nickel_hloc['log_ret'] = nickel_hloc['log_ret'].astype(float)
nickel_hloc['volatility'] = nickel_hloc['log_ret'].rolling(window=252).std() * (252**0.5)
nickel_hloc['volatility'] = nickel_hloc['volatility'].fillna(0)
nickel_hloc['volatility'] = nickel_hloc['volatility'].astype(float)
nickel_hloc.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3,log_ret,volatility
1,27.12.2024,15311.0,-166.0,"-1,07255928151451",15550.0,73.0,"0,47166763584674",15590.0,113,"0,73011565548879",15215.0,-262,"-1,69283452865542",0.000000,0.0
2,24.12.2024,15477.0,185.0,"1,20978289301596",15390.0,98.0,"0,640857964948993",15575.0,283,"1,85064085796495",15290.0,-2,"-0,0130787339785509",0.010842,0.0
3,23.12.2024,15292.0,-64.0,"-0,416775201875488",15435.0,79.0,"0,514456889815056",15530.0,174,"1,13310758009898",15270.0,-86,"-0,560041677520188",-0.011953,0.0
4,20.12.2024,15356.0,243.0,"1,60788724938794",15090.0,-23.0,"-0,152186858995567",15370.0,257,"1,70052272877655",15065.0,-48,"-0,317607357903791",0.004185,0.0
5,19.12.2024,15113.0,-395.0,"-2,54707247872066",15540.0,32.0,"0,206345112200155",15540.0,32,"0,206345112200155",15070.0,-438,"-2,82434872323962",-0.015824,0.0

In [7]:
# Compute the Garman-Klass estimator for Copper

def calc_gk_estimator(data):
    nobs = len(data)
    estimator = 0

    for i in range(1, nobs):
        estimator += 0.5 * (np.log(data['PX_HIGH'][i] / data['PX_LOW'][i])**2) - (2 * np.log(2) - 1) * np.log(data['PX_LAST'][i] / data['PX_OPEN'][i])**2
    if estimator < 0:
        raise ValueError("Estimator value is negative, cannot compute square root.")
    estimator = np.sqrt(estimator)
    return estimator/np.sqrt(nobs)

In [8]:
copper_gk = calc_gk_estimator(copper_hloc)
cobalt_gk = calc_gk_estimator(cobalt_hloc)
nickel_gk = calc_gk_estimator(nickel_hloc)

print(f"Copper GK estimator: {copper_gk}")
print(f"Cobalt GK estimator: {cobalt_gk}")
print(f"Nickel GK estimator: {nickel_gk}")

Copper GK estimator: 0.012644157788624355
Cobalt GK estimator: nan
Nickel GK estimator: 0.02140034626451394

In [9]:
# Cobalt data has rows where PX_OPEN, PX_HIGH, PX_LOW are missing
# Check for missing values
cobalt_hloc.isnull().sum()
cobalt_hloc_clean = cobalt_hloc.dropna()
cobalt_hloc_clean.isnull().sum()

Date          0
PX_LAST       0
Change        0
% Change      0
PX_OPEN       0
Change.1      0
% Change.1    0
PX_HIGH       0
Change.2      0
% Change.2    0
PX_LOW        0
Change.3      0
% Change.3    0
log_ret       0
volatility    0
dtype: int64

In [10]:
cobalt_hloc_clean.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3,log_ret,volatility
1,24.12.2024,24300.0,0,0,53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774",53000.0,28700,"118,106995884774",0.0,0.0
2,23.12.2024,24300.0,0,0,50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152",50500.0,26200,"107,818930041152",0.0,0.0
3,20.12.2024,24300.0,0,0,52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049",52500.0,28200,"116,049382716049",0.0,0.0
4,19.12.2024,24300.0,0,0,42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638",42500.0,18200,"74,8971193415638",0.0,0.0
5,18.12.2024,24300.0,0,0,44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815",44100.0,19800,"81,4814814814815",0.0,0.0

Cobalt data seems to be faulty - at least the close (Last)

In [ ]:
cobalt_hloc_clean_gk = calc_gk_estimator(cobalt_hloc_clean)
print(f"Cobalt GK estimator (cleaned): {cobalt_hloc_clean_gk}")

ValueError: Estimator value is negative, cannot compute square root.

In [12]:
def calc_parkinson_estimator(data):
    """
    Compute the Parkinson volatility estimator.

    Parameters
    ----------
    data : pandas.DataFrame
        Must contain columns 'PX_HIGH' and 'PX_LOW' for each period.

    Returns
    -------
    float
        Annualized Parkinson volatility estimate (per period sqrt(1) basis).

    Raises
    ------
    ValueError
        If the computed variance is negative (numerical issues).
    """
    # Number of observations
    nobs = len(data)
    if nobs == 0:
        raise ValueError("Input data must contain at least one observation.")
    
    # Sum of squared log high/low ratios
    sum_sq = np.sum(
        np.log(data['PX_HIGH'] / data['PX_LOW']) ** 2
    )
    
    # Parkinson variance estimator
    variance = sum_sq / (4 * nobs * np.log(2))
    if variance < 0:
        raise ValueError("Negative variance encountered; check input data.")
    
    # Volatility is the square root of variance
    return np.sqrt(variance)

In [13]:
# Compute the Parkinson estimator for Copper
copper_parkinson = calc_parkinson_estimator(copper_hloc)
cobalt_parkinson = calc_parkinson_estimator(cobalt_hloc)
nickel_parkinson = calc_parkinson_estimator(nickel_hloc)
print(f"Copper Parkinson estimator: {copper_parkinson}")
print(f"Cobalt Parkinson estimator: {cobalt_parkinson}")
print(f"Nickel Parkinson estimator: {nickel_parkinson}")

Copper Parkinson estimator: 0.012427854025282273
Cobalt Parkinson estimator: 0.003675149806941208
Nickel Parkinson estimator: 0.02146107421663495